/*common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Edu TAS Beginner', oblique;
}
body{
    background-image: url(/assets/img/cork.png);
}
/*end-common*/
header{
    background-image:url(/assets/img/wall.png);
    padding: 2rem;
    h1{
        font-size: 3rem;
        font-weight: bold;
        text-align: center;   
    }
}
main{ 
    .container_photo{
        width:60%;
        margin:auto;
    }
    .card_1{
        padding: 1rem;
        margin: auto;
        background-color: white;    
        position: relative;
        border: 1px solid black;
        box-shadow: 1px 1px;
        transition: ease 0.3s;
        .card_top{
            #pin{
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            .card_img{
                max-width: 100%;
            }
            
        }
        .card_bot{
            h2{
                font-weight: bold;
            }
            div{
                color: gray;
                font-family:'Sometype Mono', monospace;
            }
        }
    }
    .card_1:hover{
        cursor:pointer;
        transform:scale(1.1) rotate(10deg);
        z-index: 5;
        box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5);
    }
    .card_1:hover #pin{
        display: none;
    }
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.500);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    text-align: center;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 400px;
        border: 3px solid grey;
    }
    button{
        padding: 0.3rem 0.5rem;
        color: white;
        font-size: 30px;
        font-weight: 900;
        border-radius: 50% 50%;
        border: 2px solid white;
        background-color:rgba(255, 255, 255, 0.13);
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-15%,-50%);
    }
    button:hover{
       border-color: red;
        color: black;
    }
    
}
@media screen and (min-width:576px) {
    header{
        h1{
            font-size: 5rem;
        }
    }
}
@media screen and (min-width:576px) and (max-width:768px) {
    .card_1{
        width: 312px;
    }
}
@media screen and (min-width:992px){
    .card_1{
        .card_bot{
            h2{
                font-size: 1.5rem;
            }
        }
    }
}