/*common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Edu TAS Beginner', oblique;
}
body{
    background-image: url(/assets/img/cork.png);
}

/*end-common*/
header{
    background-image:url(/assets/img/wall.png);
    padding: 2rem;
    h1{
        font-size: 5rem;
        font-weight: bold;
        text-align: center;   
    }
}
main{ 
    .container_photo{
        width:75%;
        margin:auto;
    }
    .card_1{
        padding: 1rem;
        margin: auto;
        width: 100%;
        max-width: 400px;
        background-color: white;    
        position: relative;
        border: 1px solid black;
        box-shadow: 1px 1px;
        .card_top{
            #pin{
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            #dogo{
                width: 100%;
            }
        }
        .card_bot{
            h2{
                font-weight: 700;
            }
            div{
                color: gray;
                font-family:'Sometype Mono', monospace;
            }
        }
    }
}