/*common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Edu TAS Beginner', oblique;
}
body{
    background-image: url(/assets/img/cork.png);
}
/*end-common*/
header{
    background-image:url(/assets/img/wall.png);
    padding: 2rem;
    h1{
        font-size: 5rem;
        font-weight: bold;
        text-align: center;   
    }
}
main{ 
    .container_photo{
        width:60%;
        margin:auto;
    }
    .card_1{
        padding: 1rem;
        margin: auto;
        width: 100%;
        max-width: 400px;
        background-color: white;    
        position: relative;
        border: 1px solid black;
        box-shadow: 1px 1px;
        .card_top{
            #pin{
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            #card_img{
                max-width: 100%;
            }
        }
        .card_bot{
            h2{
                font-weight: 700;
            }
            div{
                color: gray;
                font-family:'Sometype Mono', monospace;
            }
        }
    }
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.500);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    /* display: none;  to show milestone 1*/
    text-align: center;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    button{
        padding: 0.25rem;
        font-family: Arial, Helvetica, sans-serif;
        background-color:lightyellow;
        border: none;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-25%,-50%);

    }
    
}